# Ignore environment variables file
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Virtual environments (if used)
nasa_env/
venv/
env/
